@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.projectDataSection:first-child > div > img {
  width: 60% !important;
}

.customMargin {
  margin-top: 2.5rem !important;
}

.customMargin4em {
  margin-top: 4rem !important;
}

.customMargin7 {
  margin-top: 0.7rem !important;
}

.keyFeaturesMargin {
}
